.containerListUsers {
    display: flex;
    flex-flow: column wrap;
    margin: 10px auto 0 auto;
    max-width: 50rem;
    background-color: #263238;

    .searchUser {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        background-color: transparent;

        .inputToolSearch {
            background-color: #CFD8DC;
            padding: 7px 10px;
            margin-bottom: 0;
        }
    }

    .BtnTools {
        background-color: #1de9b6;
        font-weight: 600;
        color: #000000;
        width: 8rem;
        margin: 15px 0 10px 15px;

        &:hover {
            background-color: #08fdd8;
            opacity: .9;
        }
    }
}